/* .main-div{
    background-color: rgb(198, 243, 241);
} */

.form {
    align-items: center;
}

.form-control {
    width: 500px;
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
}

.labels {
    align-items: center;
}

.submit-btn {
    width: 100px;
    height: 30px;
    margin-top: 20px;
    text-transform: uppercase;
    align-items: center;
}

/* .main-div{
    display: flex;
} */

 .data{
   text-align: center;
   text-transform: uppercase;
   font-family:Georgia, 'Times New Roman', Times, serif ;
   font-size: 30px;
} 
.name{
    text-align: center;
}